@media (max-width:374px) {
    body {
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        font-family: 'Lato', sans-serif;
        background-blend-mode: multiply,multiply;
        background: rgba(rgb(145, 37, 37), rgb(110, 119, 110), rgb(116, 116, 145), 0.78);
        color: rgb(255, 255, 255);
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 93px minmax(300px, auto) 226px 76px;
        grid-template-areas: 'head head head head head head' 'main main main main main main' 'nav . . . . .' 'ad ad ad ad ad ad';
        grid-gap: 2px;
    }
}

body {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px 100px 100px;
    grid-template-areas: 'nav nav nav' 'head head head' 'main main main' 'ad ad ad' 'footer footer footer';
    grid-gap: 1px;
    grid: 0;
    grid-template: 0;
}
h1 {
    font-size: 3em
}
header {
    align-items: center;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1534353341328-aede12f06b84?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjIwOTIyfQ);
    background-size: cover;
    display: flex;
    height: 80vh;
    justify-content: center;
}

header div {


}

main {
    display: flex;
}
main > section {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    padding: 20px;
    margin: 15px;

}
.float {
    position: relative;
    bottom: 40px;
}
.cta-btn {
        background-color: slategray;
        margin: 10px 5px;
        padding: 10px;
        display: inline-block;
        border-radius: 05%;
        text-decoration: none;
        position: absolute;
    transition: .25s;
    }
    .cta-btn:focus,
    .cta-btn:hover {
    background-color: rgb(145, 158, 172);
    margin: 9px 0;
    transform: translateY(-3px);

}
.cta-btn:focus,
.cta-btn:hover {

}

p {

}
ul {
    padding: 0;
}

li {
    list-style-type: none;
}
nav > ul {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 5px 0;
}
nav a {
    text-decoration: none;
}
footer {

}

img{
    width: 100vw;
    max-width: 100vw;
    margin: 1px;
    padding: 1px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #72afd3;
    text-decoration: none;
}


footer li {
    display: inline-block;
}
