body {
    font-family: 'Lato', sans-serif;
}
h1 {
}
header {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

header div {

}

main {
}
main > section {


}
.float {
}
.cta-btn {

}
.cta-btn:focus,
.cta-btn:hover {

}

p {

}
ul {
    padding: 0;
}

li {
    list-style-type: none;
}
nav > ul {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 5px 0;
}
nav a {
    text-decoration: none;
}
footer {

}

img{

}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #72afd3;
    text-decoration: none;
}


footer li {

}